{% extends 'base.html.twig' %}
{% block body %}
<div class="container border">
    <h1>dodaj kategorie</h1>

    <div class="  border">
        {{  form_start(form) }}

        <div class="form-group">
            <label class="">kategoria</label>
            {{ form_widget (form.name) }}
            <div class="form-error">
                <b>{{ form_errors(form.name) }}</b>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

</div>
{% endblock %}