{% extends 'base.html.twig' %}
{% block body %}

    <h1>edytuj osobe i ID {{ user.id }}</h1>

    <form method="POST">
        imie:<br>
        <input name="name" value="{{ user.name }}" required><br>
        nazwisko<br>
        <input name="surname" value="{{ user.surname }}"><br>
        <input type="submit" value="zmien">
    </form>
{% endblock %}