{% extends 'base.html.twig' %}
{% block body %}

    <h1>edytuj kategorie o ID {{ category.id }}</h1>

    <form method="POST">
        imie:<br>
        <input name="name" value="{{ category.name }}" required><br>

        <input type="submit" value="zmien">
    </form>
{% endblock %}